<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mp3" value=" DonOfDesign.DecoratorPattern.MediaLib.Mp3" />
    <add key="wav" value=" DonOfDesign.DecoratorPattern.MediaLib.Wav" />
    <add key="rm" value=" DonOfDesign.DecoratorPattern.MediaLib.Rm" />
    <add key="mpeg" value=" DonOfDesign.DecoratorPattern.MediaLib.Mpeg" />
  </appSettings>
</configuration>